﻿@using FlugBuch.Models
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, FlugBuch.TagHelpers
@model FlightPointInfoViewModel
<div class="form-group">
    <label asp-for="Date" class="col-md-3 control-label"></label>
    <div class="col-md-9">
        <input asp-for="Date" type="text" data-provide="datepicker" class="form-control"/>
        <span asp-validation-for="Date" class=" text-danger"></span>
    </div>    
</div>
<div class="form-group">
    <label asp-for="FlightPointId" class="col-md-3 control-label"></label>
    <div class="col-md-9">
        <input asp-for="FlightPointId" type="text" class="form-control" />
        <span asp-validation-for="FlightPointId" class=" text-danger"></span>
    </div>
</div>
<script src="~/lib/bootstrap-datepicker/dist/js/bootstrap-datepicker.js"></script>
<link rel="stylesheet" href="~/lib/bootstrap-datepicker/dist/css/bootstrap-datepicker.css" />