﻿
@model FlugBuch.Models.AirplanesListViewModel
@{
    ViewData["Title"] = "AirplanesList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>AirplanesList</h2>

@foreach (var airplane in Model.Airplanes)
{
    <div>@airplane.AirplaneName</div>
}
