﻿@using FlugBuch.Models
@model AirplaneSearchViewModel
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Search of Airplanes</h2>
    <form asp-controller="AirplaneSearch" asp-action="SearchAirplaneByString" asp-route-returnurl="@ViewBag.ReturnUrl" method="post" class="form-row form-group">
            <label asp-for="AirplaineSearchString" class="col-md-3 control-label"></label>
            <input asp-for="AirplaineSearchString" class="form-control" />
            <span asp-validation-for="AirplaineSearchString"class = " text-danger"></span>
            <button class="btn btn-default col-md-1" type="submit"><i class="fa fa-search"></i></button>
    </form>
    <form asp-controller="AirplaneSearch" asp-action="SearchAirplaneByStartEndPoints" asp-route-returnurl="@ViewBag.ReturnUrl" method="post" class="form-row  form-group">
        <div class="form-group col-md-6">
            <label asp-for="StartPointViewModel" class="col-md-3 control-label"></label>
            @Html.Partial("_FlightPointInfo", Model.StartPointViewModel)
            <span asp-validation-for="StartPointViewModel" class=" text-danger"></span>
        </div>
        <div class="form-group col-md-6">
            <label asp-for="EndPointViewModel" class="col-md-3 control-label"></label>
            @Html.Partial("_FlightPointInfo", Model.StartPointViewModel)
            <span asp-validation-for="EndPointViewModel" class=" text-danger"></span>
        </div>
            <button class="btn btn-default" type="submit"><i class="fa fa-search"></i></button>
    </form>
